@charset "utf-8";

*,*::before,*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

.container{
  max-width: 1300px; /*1040px*/
  margin: 0 auto;
}

header{
  margin-bottom: 20px;
}

/* カルーセルパネル */
#carousel{
  position: relative;
  margin: 0 auto;
  width: 1060px; /*800px*/
  overflow: hidden;
}

#carouselPrev{
  position: absolute;
  top: 90px;
  left: 0;
  cursor: pointer;
}
#carouselNext{
  position: absolute;
  top: 90px;
  right: 0;
  cursor: pointer;
}

#carouselInner ul.column{
  width: 1000px; /*740px*/
  margin: 0 30px 0;
  float: left;
}

#carouselInner ul.column li:first-child{
  margin-left: 10px;
}

#carouselInner ul.column li{
  float: left;
  margin-right: 10px;
}

#carouselInner ul li a{
  display: inline-block; /* ここがポイント */
  height: 230px;
}

#carouselInner ul li img{
  width: 320px;
  height: 100%;
  background-size: cover;
}